### Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[2]") \
    .appName("TestApp") \
    .config("spark.driver.host", "127.0.0.1") \
    .getOrCreate()

In [3]:
spark

In [10]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [15]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [20]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [51]:
df_pyspark.groupBy('Name').avg().show()

+---------+------------------+-------------------+
|     Name|       avg(salary)|avg(salary_imputed)|
+---------+------------------+-------------------+
|Sudhanshu|11666.666666666666| 11666.666666666666|
|    Sunny|            6000.0|             6000.0|
|    Krish| 6333.333333333333|  6333.333333333333|
|   Mahesh|            3500.0|             3500.0|
+---------+------------------+-------------------+

In [52]:
# column specific aggregate
from pyspark.sql.functions import avg, count
df_pyspark.groupBy('Departments','Name').agg(count("*").alias("count"),avg("salary").alias("avg_salary")).show()

+------------+---------+-----+----------+
| Departments|     Name|count|avg_salary|
+------------+---------+-----+----------+
|Data Science|   Mahesh|    1|    3000.0|
|         IOT|Sudhanshu|    1|   10000.0|
|    Big Data|Sudhanshu|    1|    5000.0|
|Data Science|    Krish|    1|   10000.0|
|Data Science|Sudhanshu|    1|   20000.0|
|    Big Data|    Krish|    1|    4000.0|
|         IOT|    Krish|    1|    5000.0|
|    Big Data|    Sunny|    1|    2000.0|
|Data Science|    Sunny|    1|   10000.0|
|    Big Data|   Mahesh|    1|    4000.0|
+------------+---------+-----+----------+

In [47]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+-------------------+
| Departments|avg(salary)|avg(salary_imputed)|
+------------+-----------+-------------------+
|         IOT|     7500.0|             7500.0|
|    Big Data|     3750.0|             3750.0|
|Data Science|    10750.0|            10750.0|
+------------+-----------+-------------------+

In [53]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [54]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+